@page
@model Task1.Pages.CountryModel
@{
    ViewData["Title"] = "Country";
}

<h1>Countries</h1>

<ul class="country-list">
    <li><a href="https://en.wikipedia.org/wiki/United_States">United States</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Canada">Canada</a></li>
    <li><a href="https://en.wikipedia.org/wiki/United_Kingdom">United Kingdom</a></li>
</ul>