@page
@model Task1.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
}

<p>Рестора́н (фр. Restaurant) — заклад громадського харчування (іноді з музикою, танцями), де подаються страви та напої.</p>
<ul>
    <li class="list-group-item">
        <a>East West</a>
    </li>
    <li class="list-group-item">
        <a>FreePizza</a>
    </li>
    <li class="list-group-item">
        <a>Luigi</a>
    </li>
</ul>